body{
    background-color: #f7f7f7;
    color: #646464;
}
.runner-container{
    height: 200px;
    width: 600px;
}
img{
    display: none;
}
.inverted{
    filter: invert(100%); /*反色*/
    background-color: #000; /*改变背景为黑色(入夜效果)*/
}
/*.game-body{*/
/*transition:filter 1.5s cubic-bezier(0.65, 0.05, 0.36, 1),*/
/*background-color 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);*/
/*!* 告诉浏览器即将对某元素执行什么动画，这样浏览器可以提前进行准备来优化动画效果，使动画更为流畅 *!*/
/*will-change: filter,background-color;*/
/*}*/